<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <a href="/"><img src="<%=image_url("logo.png")%>" height="100" width="220" margin="auto"></a>   
        <div class="logo-element">UA</div>
        <ul class="nav metismenu" id="side-menu">

            <li class="<%= 'active' if current_page?('/') %>">
                <%= link_to "/" do %>
                <i class="fa fa-home"></i> <span class="nav-label">Homepage</span>
                <% end %>
            </li>
            <% if user_signed_in? %>
                <li class="<%= 'active' if current_page?('/users/' + current_user.id.to_s)%>">
                    <%= link_to user_path(current_user.id) do %>
                        <i class="fa fa-male"></i> <span class="nav-label">Profile</span>
                    <% end %>
                </li>
            <% end %>
            <li class="<%= 'active' if current_page?('/violations') %>">
                <%= link_to violations_path do %>
                <i class="fa fa-search"></i> <span class="nav-label">Advanced Search</span>
                <% end %>
            </li>
        </ul>

    </div>
</nav>