<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    <%= @mainTitle %>
                </h1>
                <small>
                    <%= @mainDesc %>
                </small>
            </div>
            <div class="flex-masonry">
    <% @violations.each do |violation| %>
        <div class="flex-masonry-item">
            <div class="ibox">
                <div class="ibox-title">
                    <% if violation.closed? %>
                        <span class="label label-danger pull-right">Closed</span>
                    <% else %>
                        <span class="label label-primary pull-right">Active</span>
                    <% end %>
                    
                    <h5><%= link_to violation.title, violation_path(violation.id) %></h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <img src="<%= violation.image_url %>" width="280" height="200"></a>
                    </div>
                    <p>
                        <%= violation.description %>
                    </p>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">City</div>
                            <small><%= violation.city.name %></small>
                        </div>
                        <div class="col-sm-3">
                            <div class="font-bold">District</div>
                            <small><%= violation.district.name %></small>
                        </div>
                        <div class="col-sm-5">
                            <div class="font-bold">Neighborhood</div>
                            <small><%= violation.neighborhood.name %></small>
                        </div>
                        
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">Type</div>
                            <small><%= violation.type.name %></small>
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">Rating</div>
                            <small><%= violation.ratings.sum(:score) %></small>
                            <% if user_signed_in? %>
                                <a rel="nofollow" data-method="post" class="rating" href="/violations/<%= violation.id %>/rating?score=1"><i class="fa fa-caret-up fa-lg"></i></a>
                                <a rel="nofollow" data-method="post" class="rating" href="/violations/<%= violation.id %>/rating?score=-1"><i class="fa fa-caret-down fa-lg"></i></a>
                            <% end %>
                        </div>
                        <div class="col-sm-4">

                        </div>
                        
                    </div>
                    
                    <div class='row'>
                        <ul class="tag-list" style="padding: 0">
                            <% violation.tag_list.each do |tag| %>
                                <li><a href="/violations?tag_list=<%=tag%>"><i class="fa fa-tag"></i><%= tag %></a></li>
                            <% end %>
                        </ul>
                    </div>
                    

                    </div>
                </div>
            </div>

        <% end %>
            
    </div>
        </div>
    </div>
</div>