    <div class="loginColumns animated fadeInDown">
        <div class="row">
<div class="col-md-6">
                <h2 class="font-bold">Welcome to Universal Access</h2>

                <p>
                    An accessible environment is a shared responsibility. When violations are encountered you can easily be reported!
                </p>
                <p>
                    We create a social awareness and networking environment that provides people reporting them when violations are encountered and search, rate and comment on these violations.
                </p>

            

            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="form-group">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, class: "form-control" %>
                      </div>

                      <div class="form-group">
                        <%= f.label :password %><br />
                        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                      </div>

                      <div class="form-group">
                        <a href="#">
                            <small>Forgot password?</small>
                        </a>
                      </div>
                      <div class="actions">
                        <%= f.submit "Log in", class: "btn btn-primary block full-width m-b" %>
                      </div>

                      <p class="text-muted text-center">
                          <small>Do not have an account?</small>
                      </p>
                      <%= link_to('Create an account', new_user_registration_path, class: "btn btn-sm btn-white btn-block") %>
                    <% end %>
                  
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6" style="float: right">
                <strong>Copyright</strong> Bogazici University CMPE Department &copy; 2016 
            </div>
        
        </div>
        </div>
        <!-- End page wrapper-->

    </div>