<p id="notice"><%= notice %></p>

<div class="row">
    <% @violations.each do |violation| %>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <% if violation.closed? %>
                        <span class="label label-danger pull-right">Closed</span>
                    <% else %>
                        <span class="label label-primary pull-right">Active</span>
                    <% end %>
                    
                    <h5><%= link_to violation.title, violation_path(violation.id) %></h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <img src="<%= violation.image_url %>" width="280" height="200"></a>
                    </div>
                    <p>
                        <%= violation.description %>
                    </p>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">City</div>
                            <small><%= violation.city.name %></small>
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">District</div>
                            <small><%= violation.district.name %></small>
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">Neighborhood</div>
                            <small><%= violation.neighborhood.name %></small>
                        </div>
                        
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">Type</div>
                            <small><%= violation.type.name %></small>
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">Rating</div>
                            <small>3</small>
                        </div>
                        <div class="col-sm-4">

                        </div>
                        
                    </div>
                    

                    

                </div>
            </div>
        </div>

    <% end %>
        
</div>