<div class="row">
            <div class="col-lg-9">
                <div class="wrapper wrapper-content animated fadeInUp">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-b-md">
                                        <%= link_to "Edit project", edit_violation_path(@violation.id), class: "btn btn-white btn-xs pull-right" %>
                                        <h2><%= @violation.title %></h2>
                                    </div>
                                    <dl class="dl-horizontal text-center">
                                        <img src="<%= @violation.image_url %>" height="300" width="450">
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Status:</dt> <dd>
                                        <% if @violation.closed? %>
                                            <span class="label label-danger">Closed</span>
                                        <% else %>
                                            <span class="label label-primary">Active</span>
                                        <% end %>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <dl class="dl-horizontal">

                                        <dt>Created by:</dt> <dd><%= @violation.user.first_name + " " + @violation.user.last_name %></dd>
                                    </dl>
                                </div>
                                <div class="col-lg-7" id="cluster_info">
                                    <dl class="dl-horizontal" >
                                        <dt>Last Updated:</dt> <dd><%= @violation.updated_at %></dd>
                                        <dt>Created:</dt> <dd><%= @violation.created_at %></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <dl class="dl-horizontal">
                                        <dt>City:</dt>
                                        <dd>
                                            <%= @violation.city.name %>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <dl class="dl-horizontal">
                                        <dt>District:</dt>
                                        <dd>
                                            <%= @violation.district.name %>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <dl class="dl-horizontal">
                                        <dt>Neighborhood:</dt>
                                        <dd>
                                            <%= @violation.neighborhood.name %>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <dl class="dl-horizontal">
                                        <dt>Address:</dt>
                                        <dd>
                                            <%= @violation.address %>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row m-t-sm">
                                <div class="col-lg-12">
                                <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab-1" data-toggle="tab">Users messages</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">

                                <div class="tab-content">
                                <div class="tab-pane active" id="tab-1">
                                    <div class="feed-activity-list">
                                        <% @violation.comments.order(created_at: :asc).each do |comment| %>
                                            <div class="feed-element">
                                                <div class="media-body ">
                                                    <strong><%= comment.user.first_name + " " + comment.user.last_name %></strong><br>
                                                    <small class="text-muted"><%= comment.created_at %></small>
                                                    <div class="well">
                                                        <%= comment.description %>
                                                    </div>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                    <% if user_signed_in? %>
                                        <%= form_tag(comment_violation_path(@violation.id), method: :post, :html => { :class => "form-horizontal" }) do |f| %>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">New Comment</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" rows="3" name="comment"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-4 col-sm-offset-2">
                                                    <button class="btn btn-primary" type="submit">Submit</button>
                                                </div>
                                            </div>
                                        <% end %>
                                    <% end %>

                                </div>
                                
                                </div>

                                </div>

                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="wrapper wrapper-content project-manager">
                    <h4>Project description</h4>
                    <p>
                        <%= @violation.description %>
                    </p>
                    <h5>Project tags</h5>
                    <ul class="tag-list" style="padding: 0">
                        <% @violation.tag_list.each do |tag| %>
                            <li><a href=""><i class="fa fa-tag"></i><%= tag %></a></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>